{% extends 'base.html' %}

{% load static %}

{% block style %}<link rel="stylesheet" href="{% static 'css/inbox.css' %}">{% endblock style %}

{% block content %}
<section class="section-inbox">
<div class="app">
    {% include 'includes/header.html' %}
    <div class="wrapper">
     <div class="conversation-area">
      {% include 'includes/chats.html' %}
      <button class="add"></button>
      <div class="add-btn-group">
        <form action="{% url 'create-public-group' %}">
          <input type="hidden" name="type" value='public'>
          <button class="add-chat">Public Group</button>
        </form>
        <form action="{% url 'create-private-group' %}">
          <input type="hidden" name="type" value='private'>
          <button class="add-chat">Private Group</button>
        </form>
      </div>
      <div class="overlay"></div>
     </div>
     <div class="chat-area">
      <div class="chat-area-header">
       <div class="chat-area-title">{{ group_chat.name }}</div>
       <div id="online-members-count">{{ online_members }} online</div>
       <div class="chat-area-group">
        {% for member in member3 %}
        <img class="chat-area-profile" src="{{ member.get_avatar_url }}" alt="" />
        {% endfor %}
        {% if all_members_count > 3 %}
        <span>+{{ all_members_count|add:'-3' }}</span>
        {% endif %}
       </div>
      </div>
      <div class="chat-area-main">
        {% for message in chat_messages %}
        {% include 'chat/snippets/single-message.html' %}
        {% endfor %}
    </div>
    {% if is_member %}
      <div class="chat-area-footer">
        <label for="file-input">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" class="feather feather-paperclip">
          <path d="M21.44 11.05l-9.19 9.19a6 6 0 01-8.49-8.49l9.19-9.19a4 4 0 015.66 5.66l-9.2 9.19a2 2 0 01-2.83-2.83l8.49-8.48" />
         </svg>
       </label>
       <input style="display: none;" type="file" id="file-input" />
       <input id="text-data" type="text" placeholder="Type something here..." />
       <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" class="feather feather-smile">
        <circle cx="12" cy="12" r="10" />
        <path d="M8 14s1.5 2 4 2 4-2 4-2M9 9h.01M15 9h.01" /></svg>
        <button id="sendButton">
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 664 663">
            <path
              fill="none"
              d="M646.293 331.888L17.7538 17.6187L155.245 331.888M646.293 331.888L17.753 646.157L155.245 331.888M646.293 331.888L318.735 330.228L155.245 331.888"
            ></path>
            <path
              stroke-linejoin="round"
              stroke-linecap="round"
              stroke-width="33.67"
              stroke="#6c6c6c"
              d="M646.293 331.888L17.7538 17.6187L155.245 331.888M646.293 331.888L17.753 646.157L155.245 331.888M646.293 331.888L318.735 330.228L155.245 331.888"
            ></path>
          </svg>
        </button>
      </div>
      {% else %}
      <div class="chat-area-footer">
        <form method="POST" class="subscribe-btn">
          {% csrf_token %}
          <button type="submit">subscribe</button>
        </form>
      </div>
     {% endif %}
    </div>
     {% include 'includes/detail-area.html' %}
    </div>
</div>
</section>
   {% endblock content %}

{% block script %}
<script>
  let user_status_wb = new WebSocket(`wss://{{ domain }}/websocket/user/status/${ {{ request.user.id }} }`);
</script>
<script src="{% static 'js/inbox.js' %}"></script>
<script src="{% static 'js/messageWb.js' %}"></script>
{% endblock script %}
