{% extends 'base.html' %}

{% load static %}

{% block style %}<link rel="stylesheet" href="{% static 'css/inbox.css' %}">{% endblock style %}

{% block content %}
<section class="section-inbox">
<div class="app">
    {% include 'includes/header.html' %}
    <div class="wrapper center center-x">
        <h2>
            To continue, you need to subscripe
            <form method="POST">
                {% csrf_token %}
                <button>Subscripe</button>
            </form>
        </h2>
    </div>
</div>
</section>
{% endblock content %}

{% block script %}
<script>
    let user_status_wb = new WebSocket(`ws://127.0.0.1:8000/websocket/user/status/${ {{ request.user.id }} }`);
</script>
<script src="{% static 'js/inbox.js' %}"></script>
{% endblock script %}
