{% extends 'base.html' %}

{% load static %}

{% block style %}<link rel="stylesheet" href="{% static 'css/inbox.css' %}">{% endblock style %}

{% block content %}
<section class="section-inbox">
<div class="app">
    {% include 'includes/header.html' %}
    <div class="wrapper center">
        <div class="profile">
            <div class="profile-image">
                <img class="user-profile" src="{{ user.get_avatar_url }}" alt="" class="account-profile" alt="">
            </div>
            <div class="profile-info">
                <p class="profile-name">
                    {{ user.full_name }}
                    {% if user.username %}
                        <span class="profile-username">@{{ user.username }}</span>
                    {% endif %}
                </p>
                {% if request.user != user %}<a href="{% url 'single-chat' user.id %}" target="_blank"><button style="margin: 1rem 0; width: 100%;">Chat</button></a>{% endif %}
                {% if user.description %}
                <p class="profile-description">
                    {{ user.description }}
                </p>
                {% endif %}
                <p class="profile-email"><b>Email:</b> {{ user.email }}</p>
                <p class="profile-phone"><b>Phone Number:</b> {{ user.phone_number }}</p>
                <p id="userStatus"><b>User Status:</b> {% if user.status %} <span style="color: green;">online</span>{% else %} <span style="color: red">offline</span>{% endif %}</p>
            </div>
        </div>
    </div>
</div>
</section>
{% endblock content %}

{% block script %}
<script>
    const userST = document.querySelector('#userStatus');
    const urlWB = 'ws://127.0.0.1:8000/websocket/user/status';
    let url = `${ urlWB }/${ {{ user.id }} }`;
    let other_user_status_wb = new WebSocket(url);
    other_user_status_wb.onmessage = (event) => {
        let data = JSON.parse(event.data);
        let status = data.status;
        console.log(status)
        if (status === true) {
            userST.innerHTML = '<b>User Status:</b> <span style="color: green;">online</span>';
        } else if (status === false) {
            userST.innerHTML = '<b>User Status:</b> <span style="color: red;">offline</span>';
        }
    };
</script>
<script>
    let user_status_wb = new WebSocket(`ws://127.0.0.1:8000/websocket/user/status/${ {{ request.user.id }} }`);
</script>
<script src="{% static 'js/inbox.js' %}"></script>
{% endblock script %}
