{% extends 'base.html' %}

{% load static %}

{% block style %}<link rel="stylesheet" href="{% static 'css/inbox.css' %}">{% endblock style %}

{% block content %}
<section class="section-inbox">
<div class="app">
    {% include 'includes/header.html' %}
    <div class="wrapper center">
        <div class="profile">
            <div class="profile-image">
                <img class="user-profile" src="{{request.user.get_avatar_url}}" alt="" class="account-profile" alt="">
            </div>
            <div class="form-container">
                <form class="form" method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    {% for field in form %}
                    <div class="form-group">
                        {{ field.label_tag }}
                        {{ field }}
                        {{ field.errors }}
                    </div>
                    {% endfor %}
                    <button type="submit" class="form-submit">Save</button>
                </form>
            </div>
        </div>
    </div>
</div>
</section>
{% endblock content %}

{% block script %}
<script src="{% static 'js/inbox.js' %}"></script>
<script>
    const imageInput  = document.getElementById('id_avatar');
    const previewImage  = document.getElementsByClassName('user-profile')[1];

    imageInput.addEventListener('change', (e) => {
        if (e.target.files && e.target.files[0]) {
            const reader = new FileReader();
            reader.onload = function(e) {
              previewImage.src = e.target.result;
            };
            reader.readAsDataURL(e.target.files[0]);
        }
    });
</script>
{% endblock script %}
